.footer {
  &__icon {
    font-size: clamp(20px, 9.3456vw, 80px);
    rotate: 0deg !important;
    @apply text-custom-orange;
  }

  &__phone,
  &__email {
    font-size: clamp(12.5px, 5.840999999999999vw, 50px);
    font-family: Montserrat;
    @apply font-light;
    @apply text-custom-orange;
    @apply mt-4;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    display: none !important;
  }
}
