// Background Images
.SS_BG {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../../../assets/images/sites/blur_pc/SS_BLUR_PC_CARD.png");
}

.AS_BG {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../../../assets/images/sites/blur_pc/AS_BLUR_PC_CARD.png");
}

.CARGO_BG {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../../../assets/images/sites/blur_pc/CARGO_BLUR_PC_CARD.png");
}

.SHBT_BG {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../../../assets/images/sites/blur_pc/SHBT_BLUR_PC_CARD.png");
}

.portfolio_details_img {
  position: absolute;
  right: 0;
}

.mockup_image {
  width: clamp(600px, 62.496vw, 2400px);
  position: absolute;
  top: clamp(250px, 26.04vw, 1000px);
}

.phone_mockup {
  width: 300px;
}

.project_btn {
  font-size: clamp(9px, 0.93744vw, 36px);
  font-family: Montserrat;
  transition: 0.3s all;
  cursor: none;
  @apply mt-4;
  @apply text-custom-orange;
  &:hover {
    text-decoration: underline;
  }
}

.degree {
  transform: rotate(20deg);
}
