// Background Images
.SS_BG {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../../../assets/images/sites/blur_pc/SS_BLUR_PC_CARD.png");
}

.AS_BG {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../../../assets/images/sites/blur_pc/AS_BLUR_PC_CARD.png");
}

.CARGO_BG {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../../../assets/images/sites/blur_pc/CARGO_BLUR_PC_CARD.png");
}

.SHBT_BG {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../../../assets/images/sites/blur_pc/SHBT_BLUR_PC_CARD.png");
}

.CHINA_BG {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../../../assets/images/sites/blur_pc/CD_BLUR_PC_CARD.png");
}

.AGRO_BG {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../../../assets/images/sites/blur_pc/AGRO_BLUR_PC_CARD.png");
}

.portfolio_details_img {
  position: absolute;
  right: 0;
}

.mockup_image {
  width: clamp(600px, 62.496vw, 2400px);
  position: absolute;
  top: clamp(250px, 26.04vw, 1000px);
}

.phone_mockup {
  width: clamp(150px, 15.624vw, 600px);
}

.project_btn {
  font-size: clamp(9px, 0.93744vw, 36px);
  font-family: Montserrat;
  transition: 0.3s all;
  cursor: none;
  @apply mt-4;
  @apply text-custom-orange;
  &:hover {
    text-decoration: underline;
  }
}

.degree {
  transform: rotate(20deg);
}

@media screen and (max-width: 440px) {
  // Background Images
  .SS_BG {
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../../../assets/images/sites/blur_pc/SS_BLUR_PC_CARD.png");
  }

  .AS_BG {
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../../../assets/images/sites/blur_pc/AS_BLUR_PHONE_CARD.png");
  }

  .CARGO_BG {
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../../../assets/images/sites/blur_pc/CARGO_BLUR_PHONE_CARD.png");
  }

  .SHBT_BG {
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../../../assets/images/sites/blur_pc/SHBT_BLUR_PHONE_CARD.png");
  }

  .CHINA_BG {
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../../../assets/images/sites/blur_pc/CD_BLUR_PHONE_CARD.png");
  }

  .AGRO_BG {
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../../../assets/images/sites/blur_pc/AGRO_BLUR_PHONE_CARD.png");
  }

  .SA_BG {
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../../../assets/images/sites/blur_pc/SA_BLUR_PC_CARD.webp");
  }

  .phone_mockup {
    width: 90%;
    margin: auto;
  }

  .mockup_image {
    width: 100%;
    top: clamp(300px, 140.184vw, 1200px);
  }

  .portfolio-content {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: clamp(32px, 14.95296vw, 128px) !important;

    h2,
    h3,
    h4 {
      width: 100% !important;
      text-align: center !important;
    }

    .slide {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    p {
      width: 100% !important;
      @apply mt-8;
    }

    button {
      font-size: clamp(11.5px, 5.37372vw, 46px);
    }
  }
}
