.block {
  width: clamp(90px, 42.0552vw, 360px);
  height: clamp(90px, 42.0552vw, 360px);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  @apply border-custom-black;
  transition: 0.3s all;
  &:hover {
    @apply bg-custom-orange;
    color: white;
    font-weight: 400;
  }

  &__text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 200;
    font-size: clamp(22.5px, 10.5138vw, 90px);
  }
}

@media screen and (min-width: 1024px) {
  .block {
    width: clamp(135px, 14.0616vw, 540px);
    height: clamp(135px, 14.0616vw, 540px);

    &__text {
      font-size: clamp(35px, 3.6456vw, 140px);
    }
  }
}
