@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "Macherie";
  src: url("../../assets/fonts/macherie.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  cursor: none;
  box-sizing: border-box;
}

body {
  overflow-x: hidden !important;
}

.main {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: macherie, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: clamp(22.5px, 10.5138vw, 90px);
  line-height: 120%;
  @apply text-custom-black;
}

h2,
h3,
h4 {
  font-family: "Machérie";
  font-style: normal;
  font-weight: 600;
  font-size: clamp(40px, 4.1664vw, 160px);
  @apply text-custom-black;
}

p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  @apply text-custom-black;
  text-align: center;
  font-size: clamp(9px, 4.20552vw, 36px);
}

.orange {
  @apply text-custom-orange;
}
