.feature {
  width: auto;
  height: auto;

  &__icon {
    width: clamp(21px, 9.81288vw, 84px);
    height: clamp(21px, 9.81288vw, 84px);
  }

  &__text {
    font-size: clamp(12.5px, 5.840999999999999vw, 50px);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: 130.5%;
    @apply text-custom-black;
  }
}

@media screen and (min-width: 1024px) {
  .feature {
    width: auto;
    height: auto;

    &__icon {
      width: clamp(16px, 1.66656vw, 64px);
      height: clamp(16px, 1.66656vw, 64px);
    }

    &__text {
      font-size: clamp(10.5px, 1.09368vw, 42px);
      font-family: Montserrat;
      font-style: normal;
      font-weight: 400;
      line-height: 130.5%;
      @apply text-custom-black;
    }
  }
}
