.zero {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../../../assets/images/sites/phone_cards/AI_Phone_Card.png");
  transition: background-image 0.3s ease-in-out;
}

.one {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../../../assets/images/sites/phone_cards/Cargo_Phone_Card.png");
  transition: background-image 0.3s ease-in-out;
}

.two {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../../../assets/images/sites/phone_cards/PP_Phone_Card.png");
  transition: background-image 0.3s ease-in-out;
}

.three {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../../../assets/images/sites/phone_cards/Sharbakty_Phone_Card.png");
  transition: background-image 0.3s ease-in-out;
}

.four {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../../../assets/images/sites/phone_cards/SS_Phone_Card.png");
  transition: background-image 0.3s ease-in-out;
}

.five {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../../../assets/images/sites/phone_cards/Zippity_Phone_Card.png");
  transition: background-image 0.3s ease-in-out;
}

.six {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../../../assets/images/sites/works/work02.png");
  transition: background-image 0.3s ease-in-out;
}

.seven {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../../../assets/images/sites/works/work01.png");
  transition: background-image 0.3s ease-in-out;
}

.parallax-slider {
  width: 100%;
  height: clamp(435px, 203.2668vw, 1740px);
  display: flex;
  position: relative;
  transition: background-image 0.3s ease-in-out;

  &__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    &__text {
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: clamp(25px, 11.681999999999999vw, 100px);
      @apply font-bold;
      @apply mb-2;
    }

    &__sub-text {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      font-size: 20px;
      @apply text-custom-orange;
    }
  }
}
