.zero {
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../../../assets/images/sites/phone_cards/AS_Phone_Card.png");
  transition: background-image 0.3s ease-in-out;
}

.one {
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../../../assets/images/sites/phone_cards/Cargo_Phone_Card.png");
  transition: background-image 0.3s ease-in-out;
}

.two {
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;

  background-image: url("../../../assets/images/sites/phone_cards/PP_Phone_Card.png");
  transition: background-image 0.3s ease-in-out;
}

.three {
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;

  background-image: url("../../../assets/images/sites/phone_cards/Sharbakty_Phone_Card.png");
  transition: background-image 0.3s ease-in-out;
}

.four {
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;

  background-image: url("../../../assets/images/sites/phone_cards/SS_Phone_Card.png");
  transition: background-image 0.3s ease-in-out;
}

.five {
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;

  background-image: url("../../../assets/images/sites/phone_cards/Zippity_Phone_Card.png");
  transition: background-image 0.3s ease-in-out;
}

.six {
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;

  background-image: url("../../../assets/images/sites/phone_cards/Agro_Phone_Card.png");
  transition: background-image 0.3s ease-in-out;
}

.seven {
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../../../assets/images/sites/phone_cards/CHD_Phone_Card.png");
  transition: background-image 0.3s ease-in-out;
}

.eight {
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../../../assets/images/sites/phone_cards/AI_Phone_Card.png");
  transition: background-image 0.3s ease-in-out;
}

.parallax-slider {
  width: 100%;
  height: clamp(435px, 203.2668vw, 1740px);
  display: flex;
  position: relative;
  transition: background-image 0.3s ease-in-out;

  &__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    &__text {
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: clamp(25px, 11.681999999999999vw, 100px);
      @apply font-bold;
      @apply mb-2;
    }

    &__sub-text {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      font-size: 20px;
      @apply text-custom-orange;
    }
  }
}

@media screen and (min-width: 1024px) {
  .parallax-slider {
    width: 100%;
    height: clamp(550px, 57.288000000000004vw, 2200px);
    display: flex;
    position: relative;
    transition: background-image 0.3s ease-in-out;

    &__slide {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;

      &__text {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: clamp(22.5px, 2.3436vw, 90px);
        @apply font-bold;
        @apply mb-2;
      }

      &__sub-text {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        font-size: 20px;
        @apply text-custom-orange;
      }
    }
  }

  .zero {
    height: clamp(600px, 62.496vw, 2400px);
    background-position: center center;
    background-image: url("../../../assets/images/sites/pc_cards/AS_PC_Card.png");
  }

  .one {
    height: clamp(600px, 62.496vw, 2400px);
    background-position: center center;
    background-image: url("../../../assets/images/sites/pc_cards/Cargo_PC_Card.png");
  }

  .two {
    height: clamp(600px, 62.496vw, 2400px);
    background-position: center center;
    background-image: url("../../../assets/images/sites/pc_cards/PP_PC_Card.png");
  }

  .three {
    height: clamp(600px, 62.496vw, 2400px);
    background-position: center center;
    background-image: url("../../../assets/images/sites/pc_cards/Sharbakty_PC_Card.png");
  }

  .four {
    height: clamp(600px, 62.496vw, 2400px);
    background-position: center center;
    background-image: url("../../../assets/images/sites/pc_cards/SS_PC_Card.png");
  }

  .five {
    height: clamp(600px, 62.496vw, 2400px);
    background-position: center center;
    background-image: url("../../../assets/images/sites/pc_cards/Zippity_PC_Card.png");
  }

  .six {
    height: clamp(600px, 62.496vw, 2400px);
    background-position: center center;
    background-image: url("../../../assets/images/sites/pc_cards/AGRO_PC_CARD.png");
  }

  .seven {
    height: clamp(600px, 62.496vw, 2400px);
    background-position: center center;
    background-image: url("../../../assets/images/sites/pc_cards/CHD_PC_CARD.png");
  }

  .eight {
    height: clamp(600px, 62.496vw, 2400px);
    background-position: center center;
    background-image: url("../../../assets/images/sites/pc_cards/AI_PC_CARD.png");
  }
}
