.carousel {
  width: clamp(200px, 93.45599999999999vw, 800px);
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  &__slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .carousel {
    width: clamp(1250px, 130.20000000000002vw, 5000px);

    &__slide {
      &__image {
        width: clamp(150px, 15.624vw, 600px);
      }
    }
  }
}
