@media screen and (min-width: 1024px) {
  .portfolio-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
