.hamburger {
  width: clamp(20px, 9.3456vw, 80px);
  height: clamp(20px, 9.3456vw, 80px);

  &__line {
    width: 100%;
    height: clamp(1.5px, 0.70092vw, 6px);
    @apply bg-custom-orange;
    @apply mt-2;
    border-radius: 10px;
  }
}
