.portfolio-tab {
  position: relative;
  width: 100%;
  height: clamp(175px, 81.774vw, 700px);

  &__name-tab {
    position: absolute;
    width: clamp(50px, 23.363999999999997vw, 200px);
    height: clamp(90px, 42.0552vw, 360px);
    transform: translateX(-200px);
    transition: 0.3s all;
    @apply bg-custom-orange;

    &__text {
      font-size: clamp(10px, 4.6728vw, 40px);
      color: white;
    }
  }
}
