.portfolio-tab {
  position: relative;
  width: 100%;
  height: clamp(175px, 81.774vw, 700px);

  &__name-tab {
    position: absolute;
    padding: clamp(7.5px, 3.5046vw, 30px);
    // transform: translateX(-200px);
    left: 16px;
    bottom: 0px;
    transition: 0.3s all;
    @apply bg-custom-orange;

    &__text {
      font-size: clamp(10px, 4.6728vw, 40px);
      color: white;
    }
  }
}
