.service-tab {
  width: 100%;
  height: auto;
  border-bottom: 1px solid;
  @apply border-custom-black;
  transition: 0.3s all;

  &__icon {
    font-size: clamp(12.5px, 5.840999999999999vw, 50px);
    padding-bottom: clamp(7px, 3.2709599999999996vw, 28px);
  }

  &__text {
    font-family: Montserrat;
    font-size: clamp(12.5px, 5.840999999999999vw, 50px);
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-bottom: clamp(7px, 3.2709599999999996vw, 28px);
  }

  &__number {
    font-family: Montserrat;
    font-size: clamp(12.5px, 5.840999999999999vw, 50px);
    font-style: normal;
    font-weight: 300;
    padding-bottom: clamp(7px, 3.2709599999999996vw, 28px);
  }

  &:hover {
    @apply text-custom-orange;
    @apply border-custom-orange;
  }
}
